body {
	background-image: url("../img/bg_contact.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: white;
}

.main-logo {
	width: 80px;
	margin-top: 25px;
}

a {
	color: white;
	text-decoration: none !important;
}

a:hover {
	color: white;
	text-decoration: none;
}

.navigation {
	margin-top: 20px;
	text-align: center;
	font-size: 1.3em;
	font-weight: 300;
}

.central-text {
	margin-top: 50px;
	text-align: center;
}

.central-text h1 {
	font-weight: 700;
}

.sub-head {
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
}

.menu-box {
	padding: 6px 6px 6px 6px;
	border: 2px solid transparent;
}

.menu-box:hover {
	background-color: rgba(0,0,0,0.8);
	border: 2px solid white;
	border-radius: 3px;
    /*box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.54);
    -moz-box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.54);
    -webkit-box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.54);*/
}

.contact-icon {
	margin-top: 50px;
}

.text:hover {
	text-decoration: underline;
}

.icons:hover {
	-moz-box-shadow: 0px 0px 10px #FFFFFF;
	-webkit-box-shadow: 0px 0px 10px #FFFFFF;
	box-shadow: 0px 0px 10px #FFFFFF;
	-moz-border-radius:190px;
	-webkit-border-radius:190px;
	border-radius:190px;
}

.popover-title {
    color: black;
}
.popover-content {
    color: black;
}

@media only screen and (max-width: 750px) {
	.navigation {
		margin-top: 20px;
	}

	.central-text {
		margin-left: 0px;
	}
}