body{
            background-image: url("../img/back.jpg");
            background-size: cover;
	        font-family: 'Roboto Condensed', sans-serif;
	        font-weight: 400;
	        color: white;
        }
        .wrapper{
            width: 100%;
            background-color: black;
            opacity:0.8;
           
            min-height:100%;
        }
        .footer{
            bottom: 0px;
            height:100px;
            
            position: absolute;
            width:100%;
        }
        .box{
            padding: 0px;
        }
        .carousel {
            background: #1a237e;
            position: relative;
            margin-top: 420px;
        }
        .carousel .item {
            height: 150px;
        }
        .carousel .item img {
            left: 0;
            min-height: 150px;
            position: absolute;
            top: 0;
        }
        #carouselButtons {
            bottom: 0px;
            position: absolute;
            right: 0px;
        }