body {
	min-height: 100vh;
	background-image: url("../img/back1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: white;
}

a {
	color: white;
	text-decoration: none !important;
}

a:hover {
	color: white;
	text-decoration: none;
}

.central-text {
	margin-top: 90px;
	margin-left: 100px;
}

hr {
	width: 75%;
	left: -140px;
	position: relative;
}

.text {
	font-size: 1.2em;
	font-weight: 300;
}

button {
	margin-top: 90px;
	padding: 10px 30px 10px 30px;
	background: transparent;
	border-color: white;
	border-width: 1px;
	color: white;
	border-radius: 3px;
}

button:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.menu-box {
	padding: 6px 6px 6px 6px;
	border: 2px solid transparent;
}

.menu-box:hover {
	background-color: rgba(0,0,0,0.8);
	border: 2px solid white;
	border-radius: 3px;
    /*box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.54);
    -moz-box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.54);
    -webkit-box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.54);*/
}

.clearfix {
	position: absolute;
	bottom: 0;
}

.bottom-logo {
	margin-top: 40px;
}

@media only screen and (max-width: 750px) {
	.navigation {
		margin-top: 20px;
	}

	.central-text {
		margin-left: 0px;
	}

	hr {
		left: 0px;
	}
}

@media only screen and (min-width: 750px) {
	.bottom-logo {
		margin-top: 0px;
		position: absolute;
		bottom: 10px;
	}
}

@media all and (min-height: 600px) {
	.main-logo {
		width: 80px;
		margin-top: 25px;
	}
    .navigation {
		margin-top: 20px;
		text-align: center;
		font-size: 1.3em;
		font-weight: 300;
	}
}

@media all and (max-height: 600px) {
	.main-logo {
        width: 40px;
        margin-top: 5px;
        position: relative;
	}
    .navigation {
		text-align: center;
		font-size: 1em;
	}
}